* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-header-text {
  font-size: 24px;
  color: var(--black, #000112);
  align-self: center;
  margin: 0px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar-text {
  color: var(--medium-grey, #828FA3);
  margin: 0;
  font-size: 15px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  line-height: normal;
}

.text-heading-M{
  color: var(--white, #FFF);
/* Heading (M) */
font-size: 15px;
font-family: Plus Jakarta Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.sidebar-small-text{
  color: var(--medium-grey, #828FA3);
font-size: 12px;
font-family: Plus Jakarta Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px;
margin-left: 32px;
}

.btn-text{
  color: var(--main-purple, #635FC7);
text-align: center;
font-size: 13px;
font-family: Plus Jakarta Sans;
font-style: normal;
font-weight: 700;
line-height: 23px;
text-transform: none;
}

.create-column-text{
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--medium-grey, #828FA3);
  text-align: center;
  font-size: 24px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}


@media only screen and (min-width:1601px) and (max-width:2000px){
  .gapInSmallWidth{
    gap: 50px;
  }
}


@media only screen and (min-width:1000px) and (max-width:1600px){
  .gapInSmallWidth{
    gap: 150px;
  }
}

@media only screen and (min-width:600px) and (max-width:999px){

  .gapInSmallWidth{
    gap: 200px;
  }
}


@media only screen and  (max-width:599px){

  .gapInSmallWidth{
    gap: 300px;
  }
}